.container {
  padding: 0 2rem;
}

body.datasette-vega-demo {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}


body.datasette-vega-demo form div {
  margin-bottom: 0.5em
}

body.datasette-vega-demo label {
  padding-right: 0.5em;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
