.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  max-width: 70em;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
}

body.datasette-vega-demo {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}

.jsonUrlForm {
  margin-bottom: 2em;
  .urlInput {
    width: 80%;
    font-size: 1.2em;
  }
  details {
    margin-top: 0.8em;
    ul {
      margin-top: 0.3em;
    }
  }
}

.visContainer {
  width: 100%;
}
.visContainer {
  form {
    text-align: left;
    label {
      font-weight: bold;
      display: inline;
      width: auto;
      padding-right: 0.5em;
    }
  }
}

.visWrapper {
  overflow: auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: 25em;  // default height, resizable by user
  resize: both;
}
.visDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.visDiv,
.visDiv::after,
.visDiv::before {
  box-sizing: border-box;
}

body.datasette-vega-demo form div {
  margin-bottom: 0.5em
}
